@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Pixelify+Sans:wght@400..700&display=swap");

/* Roboto, Lato, Poppins, Exo 2, Raleway, DM Serif Display */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans"; /* Exo 2, Raleway */
}
.main-landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing-background {
  z-index: 1;
}
.landing-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background: transparent;
  backdrop-filter: blur(7px);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.land-head {
  margin-top: 5%;
  height: 10%;
  width: 80%;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
}
.logo-cont {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-logo {
  height: 50px;
  width: 50px;
}

.developer {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.developer p {
  font-size: 1rem;
  font-weight: 100;
}
.nav-link {
  border-radius: 10px;
}
.nav-link:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.land-body {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.div1 {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div1 .info {
  margin-top: -25%;
  margin-right: 10%;
}

.div1 h1 {
  font-family: "Pixelify Sans", serif;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #b6b09f;
  font-weight: 500;
}
.div1 h4 {
  font-family: "Pixelify Sans", serif;
  font-size: 1.7rem;
  font-weight: 300;
}
.gengo-bit {
  font-family: "Pixelify Sans", serif;
  font-size: 1.8rem;
  color: #dbd5c1;

  text-decoration: none;
  font-weight: 300;
}

#password,
#username {
  width: 100%;
  font-weight: 100;
}
.div2 {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form-cont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 .login-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
  box-shadow: 0px 10px 1px rgb(182 176 159), 0 10px 20px rgb(182 176 159);
}
.login-form:hover {
  background-color: rgb(7, 7, 7);
  border: 1px solid white;
}
.login-input-box {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1d1d;
  border-radius: 8px;
  width: 100%;
}
.submit {
  background: transparent;
  font-size: 1rem;
  border-bottom: 1px solid white;
}
.submit:hover {
  background: transparent;
  color: #b6b09f;
}
.submit:active {
  color: lightblue;
}
.links {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.link1 {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.link2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.forget-pass,
.sign-up {
  font-size: 0.5rem;
  background-color: transparent;
  font-weight: 100;
}
.forget-pass:hover,
.sign-up:hover {
  font-size: 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid white;
}
.socmed-links {
  margin-top: 5%;
}
.socmed-links p {
  font-size: 0.7rem;
  font-weight: 100;
}
.socmed-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.google,
.facebook {
  background: transparent;
  margin: 0;
}
.google:hover,
.facebook:hover {
  background: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}

@media (max-width: 480px) and (max-width: 760px) {
  .land-head {
    margin-top: 2%;
  }
  .landing-logo {
    height: 30px;
    width: 30px;
  }
  .developer {
    gap: 5%;
  }
  .developer p {
    font-size: 0.7rem;
    font-weight: 100;
  }
  .nav-link {
    padding: 0;
  }
  .land-body {
    height: 90%;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10%;
  }
  .div1 {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div1 .info {
    margin-top: 0%;
    margin-right: 0%;
  }

  .div1 h1 {
    margin-bottom: 0rem;
  }

  .div2 {
    height: 100%;
    width: 80%;
  }
  .form-cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div2 .login-form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s;
    box-shadow: 0px 10px 1px rgb(182 176 159), 0 10px 20px rgb(182 176 159);
  }
  .login-form:hover {
    background-color: rgb(7, 7, 7);
    border: 1px solid white;
  }
  .login-input-box {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1d1d;
    border-radius: 8px;
    width: 100%;
  }
  .submit {
    background: transparent;
    font-size: 1rem;
    border-bottom: 1px solid white;
  }
  .submit:hover {
    background: transparent;
    color: #b6b09f;
  }
  .submit:active {
    color: lightblue;
  }
  .links {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .link1 {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }
  .link2 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .forget-pass,
  .sign-up {
    font-size: 0.5rem;
    background-color: transparent;
    font-weight: 100;
  }
  .forget-pass:hover,
  .sign-up:hover {
    font-size: 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid white;
  }
  .socmed-links {
    margin-top: 5%;
  }
  .socmed-links p {
    font-size: 0.7rem;
    font-weight: 100;
  }
  .socmed-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .google,
  .facebook {
    background: transparent;
    margin: 0;
  }
  .google:hover,
  .facebook:hover {
    background: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
  }
}
