@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto, Lato, Poppins, Exo 2, Raleway, DM Serif Display */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Raleway'; /* Exo 2, Raleway */
}

body {
    background: linear-gradient(160deg, #070f21, #313944);
    color: #f0f2f5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.landing-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 5vw 60vw 30vw 5vw; /* columns */
    grid-template-rows: 10vh 80vh 10vh; /* rows */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-image: url('./landingpage-background4.png'); /* Correct background image syntax */
    background-size: cover; /* Ensures the image covers the entire div2 */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.landing-logo{
  height: 10vh;
  width: 5vw;
  margin: 1vh 0 2vh 0;
}
.div1 { 
  grid-area: 2 / 2 / 3 / 3; 
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
.div1 .info{
  margin-left: 10%;
  margin-top: -30%;

}
.div1 h1 {
  font-family: "DM Serif Display", serif;
  font-size: 6vw;
  background: linear-gradient(
    to right,
    rgb(163, 253, 255) 0%,
    rgb(0, 9, 50) 100%,
    rgb(255,255,255) 100%
  );
  background-size: 300% 100%;
  margin-bottom: 0.5vh;
  
  /* Apply gradient to text */
  -webkit-background-clip: text;
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */

  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), /* Inner */
               -3px -3px 5px rgba(255, 255, 255, 0.2); /* Outer */
  transition: background-position 1s ease-in-out, 
              transform 0.3s ease-in-out, 
              text-shadow 0.3s ease-in-out;
}

.div1 h1:hover {
  background-position: -100% 0;

  transform: scale(1.08);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), /* Inner */
  -3px -3px 5px rgba(255, 255, 255, 0.2); /* Outer */
}
.div1 h4{
  font-family: "DM Serif Display", serif;
  margin-left: 0.5vw;
  font-size: 2vw;
}
.gengo-bit{
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  color:lightblue;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  display: flex;
  font-weight: 1000;
}
.gengo-bit:hover{
  
  transform: scale(1.05);
}
.div2 {
  grid-area: 2 / 3 / 3 / 4; 
  flex-direction: column;
  z-index: 100;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 form {
  background: transparent;
  backdrop-filter: blur(2px); /* Glass effect */
  -webkit-backdrop-filter: blur(2px); /* Safari support */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Make sure form content stays on top */
  position: relative;
  border-radius: 20px;
}

.div2 form::before {
  content: ""; /* Make sure the pseudo-element is displayed */
  position: absolute; /* Absolute positioning to sit inside the form */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  background: radial-gradient(circle, rgb(0, 9, 50) 0%, rgba(0, 9, 114, 0.5) 40%, transparent 100%);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  border-radius: 20px; /* Match the form's border radius */
  z-index: -1; /* Place the gradient behind the form's content */
}

.div2 form:hover::before {
  opacity: 1;
}

.div2 form .input-box {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1vh;
}

.div2 form .input-box input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0.8px solid #f8f8f8;
    border-radius: 5px;
    color: #f8f8f8;
    font-size: 1vw;
    transition: 0.5s ease;
    z-index: 9;
    margin: 0; /* Ensure no extra margin */
    box-sizing: border-box; /* Ensure padding is within the width */
}
.div2 form .input-box input:hover {
  background-color: rgb(0, 9, 50);
}

.div2 form .links {
  display: flex;
  justify-content: space-between;
  width: 100%;  /* Ensures the flex container takes up the full width */
  gap: 1rem;  /* Adjust this value to control how close or far the links are */
}

.div2 form .links button {
  background: transparent;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1vw;
  margin: 0 0.5vw 0 0.5vw;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.socmed-links{
  margin: 5vh 0 5vh 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.socmed-links p{
  margin-bottom: -3vh;
  font-size: 1vw;
}

.div2 form .submit {
  margin: 1vh 0;
  border: 0.5px solid transparent;  /* Initially set the border to transparent */
  outline: none;
  cursor: pointer;
  color: #f8f8f8;
  background: #1d1b3b;
  font-size: 1vw;
  height: 3vw;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;  /* Vertically center */
  justify-content: center; /* Horizontally center */
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Smooth transition for both background and border */
}

.div2 form .submit:hover {
  background: rgb(39, 39, 54);
  border: 0.5px solid #f8f8f8;  /* Change the border color on hover */
}
.social-icon {
  width: 5vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Make buttons circular */
  cursor: pointer;
  margin: -3vh -1vw 0 -1vw;
  transition: all 0.3s ease;
}

.social-icon svg {
  width: 50%; /* Set SVG size */
  height: 50%;
}

.social-icon:hover {
  background-color: #365899; /* Darker blue on hover */
}
.signin-button{
  background: transparent;
}
.signin-button:hover{
  background: transparent;
}


@media (max-width:480px) and (max-width:760px){
  .landing-container {
    grid-template-columns: 0vw 100vw 0vw; /* columns */
    grid-template-rows: 0vh 38vh 60vh 0vh; /* rows */
  }
  .landing-logo{
    height: 10vh;
    width: 20vw;
  }
  .div1 { 
    grid-area: 2 / 2 / 3 / 3; 
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: left;
  }
  .div1 .info{
    margin-top: 20%;
  }
  .info2{
    display: flex;
    flex-direction:row;
  }
  .div1 h1 {
    font-size: 10vw;
    background: linear-gradient(
      to right,
      rgb(163, 253, 255) 0%,
      rgb(0, 9, 50) 100%,
      rgb(255,255,255) 100%
    );
    background-size: 300% 100%;
    margin-bottom: 0.5vh;
    
    /* Apply gradient to text */
    -webkit-background-clip: text;
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), /* Inner */
    -2px -2px 4px rgba(255, 255, 255, 0.1); /* Outer */
    transition: background-position 1s ease-in-out, 
                transform 0.3s ease-in-out, 
                text-shadow 0.3s ease-in-out;
  }
  
  .div1 h1:hover {
    background-position: -100% 0;
  
    transform: scale(1.08);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), /* Inner */
    -2px -2px 4px rgba(255, 255, 255, 0.1); /* Outer */
  }
  .div1 h4{
    margin-left: 0.2vw;
    font-size: 5vw;
  }
  .gengo-bit{
    margin-left: 1vw;
    font-size: 5vw;
    display: inline-block;
  }
  .div2 {
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 0px;
  }
  .div2 form {
    height: 100%;
    border-radius: 0px;
  }
  
  .div2 form::before {
    border: 0.5px solid #f8f8f8;
    border-radius: 0px; /* Match the form's border radius */
  }
  .div2 form .input-box input {
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .div2 form .links button {
    font-size: 3vw;
    margin: 0 0.8vw 0 0.8vw;
  }
  .socmed-links p{
    margin-bottom: -3vh;
    font-size: 3vw;
  }
  .div2 form .submit {
    font-size: 3vw;
    height: 10vw;
    margin: 2vh auto 2vh auto;
    width: 40%;
  }
  .social-icon {
    width: 20vw;
    height: 12vh;
    border-radius: 50%; /* Make buttons circular */
    margin: -3vh -1vw 0 -1vw;
  }
  .social-icon svg {
    width: 100%; /* Set SVG size */
    height: 50%;
  }
}

  