* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background: linear-gradient(160deg, #070f21, #313944);
    color: #f0f2f5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.landing-container {
    display: grid;
    grid-template-columns: 0.2fr 3fr 2fr 0.2fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-image: url('./landingpage-background.png'); /* Correct background image syntax */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.div1 { 
  grid-area: 2 / 2 / 3 / 3; 
  height: 100%;
  width: 100%;
  z-index: 1;
}
.div2 { 
  grid-area: 2 / 3 / 3 / 4; 
  height: 100%;
  width: 100%;
  z-index: 1;
}
.landing-background{
  position: relative;
  z-index: 1;
}
  
  @media (max-width:480px) and (max-width:760px){
    .landing-title{
        font-size: 2rem;
    }
    .landing-subtitle{
        font-size: 0.8rem;
    }
  }