/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1f27;
    color: #f0f2f5;
}
.home-background{
    position: fixed;
    z-index: 0;
}

.navHome{
    height: 100vh;
    width: 9vh;
    z-index: 2;
    bottom: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
    padding-top: 3vh;
}
.navHome:hover{
    width: 20vh;
}
.homeimg{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vh;
    height: 3vh;
    width: 3vh;
}
.navHome .logo, .settings-icon, .logout-icon, .chat-icon, .post-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vh;
    border-radius: 0px;
    bottom: 0;
    color: white;
    height: 3vh;
    width: 3vh;
}
.nav-text, .genchat, .user-name {
    display: none;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    position: relative;
    margin-left: -1.5vh;
}
.logo-cont,
.user-cont,
.settings-icon-cont, 
.post-icon-cont, 
.chat-icon-cont, 
.logout-icon-cont {
    display: flex;
    align-items: center;
}
.navHome:hover .nav-text, .navHome:hover .genchat, .navHome:hover .user-name{
    display: block;
}
.navHome .logo-cont:hover, .user-cont:hover, .chat-icon-cont:hover, .post-icon-cont:hover, 
.settings-icon-cont:hover, .logout-icon-cont:hover {
    border: solid 0.5px;
    cursor: pointer;
}
.homepage-container {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgb(0, 9, 50) 40%, rgba(0, 9, 114, 0.9) 80%, rgba(0, 0, 0, 0.9) 100%);    
}

/* Content card styling */
.homepage-content {
    margin-top: 8vh; /* Push below the header */
    margin-left: 7vh; /* Push right of the sidebar */
    bottom: 0;
    position: fixed;
    width: calc(100vw - 7vh);
    height: calc(100vh - 8vh);
    z-index: 1;
}

.chat-button {
    color: white;
    background: none;
    height: 92vh;
    border-radius: none;
    left: 0;
    position: fixed;
    margin-left: 4vw;
    width: 48vw;
    z-index: 10;
}
.post-button {
    color: white;
    background: none;
    height: 92vh;
    border-radius: none;
    right: 0;
    position: fixed;
    width: 48vw;
    z-index: 10;
}
.homepage-button:hover {
    background: #ffd75e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.homepage-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Dropdown arrow styling */
.dropdown-arrow {
    font-size: 1.2rem; /* Size of the arrow */
    color: white;
    transition: transform 0.3s ease; /* Smooth rotation */
}

.signout-button {
    color: #1b1f27;
    background: #f4c542;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    position:sticky;
}