.main-homepage {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.homepage-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(5.5px);
}
.home-logo {
  height: 30px;
  width: 30px;
}
.home-selection {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  color: #b6b09f;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}
.home-div1 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.home-div2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.home-div3 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home1 {
  height: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #b6b09f;
  background-color: rgb(12, 12, 12);
  z-index: 100;
}
.logo-cont {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
.img-cont {
  margin-right: 0;
}
.home-cont {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
}
.home-settings-cont,
.chat-cont,
.logout-cont,
.img-cont,
.homeic-cont,
.notif-cont {
  height: 70%;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  transition: none;
  transition: none;
}
.home-settings-cont:hover,
.chat-cont:hover,
.logout-cont:hover,
.homeic-cont:hover {
  background-color: #252525;
}
.logout-icon,
.chat-icon,
.settings-icon,
.homeic-icon,
.notif-icon {
  height: 30px;
  width: 30px;
  color: white;
  transition: none;
}
.home-settings-cont.active,
.chat-cont.active,
.logout-cont.active,
.homeic-cont.active {
  border-bottom: 2px solid #a09a8a;
}
.img-cont {
  margin-right: 5%;
}
.home-homeimg {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  border: 3px solid white;
}
.homepage-content {
  height: 93%;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.cont1 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.cont2 {
  height: 100%;
  width: 50%;
  border-left: 1px solid wheat;
  border-right: 1px solid wheat;
  color: white;
  display: flex;
  font-size: 100px;
  overflow: hidden;
}
.holder {
  height: auto;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-start;
  gap: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0.07) 100%
  );
}
.weather-widget {
  margin-top: 5%;
}
.holder::-webkit-scrollbar {
  width: 5px;
}

.holder::-webkit-scrollbar-track {
  background: rgba(71, 71, 71, 0.05);
  border-radius: 50px;
}

.holder::-webkit-scrollbar-thumb {
  background: #b6b09f;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.holder::-webkit-scrollbar-thumb:hover {
  background: #a09a8a;
}

.weather-widget,
.news-widget,
.meme-widget,
.funfact-widget {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-widget p,
.news-widget p,
.funfact-widget p,
.news-widget h2,
.funfact-widget h2 {
  margin: 0;
  padding: 0;
}
.hometitle {
  text-align: center;
  font-size: 6rem;
}
.newscontent,
.funfactcontent {
  font-size: 1.5rem;
  text-align: justify;
}
.meme-img {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: 10px solid #000000;
}
.cont3 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.cont3-cont {
  width: 100%;
  height: 100%;
  color: white;
}
.cont1 .items {
  width: 100%;
  height: 100%;
}
.prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
}
.prof p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Show ...  */
  max-width: 100%;
  display: inline-block;
}
.home-option {
  font-size: 0.9rem;
}
.weather.active,
.news.active,
.meme.active,
.fact.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #a09a8a;
  color: #b6b09f;
}

.weather:hover,
.prof:hover,
.news:hover,
.meme:hover,
.fact:hover {
  background-color: rgb(27, 27, 27);
}
.prof .homeimg2 {
  height: 30px;
  width: 30px;
  border: 1px solid wheat;
  margin: 0;
  gap: 0;
  padding: 0;
}
.weather-widget {
  padding-top: 25%;
}
.funfact-widget {
  padding-bottom: 50%;
}
@media (max-width: 480px) and (max-width: 760px) {
  .main-homepage {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .home-logo {
    height: 20px;
    width: 20px;
  }
  .logo-cont {
    margin-left: 20%;
  }
  .home-cont {
    gap: 10px;
  }
  .home-settings-cont,
  .chat-cont,
  .logout-cont,
  .img-cont,
  .homeic-cont,
  .notif-cont {
    padding: 0 0.5rem 0 0.5rem;
  }
  .home-homeimg {
    height: 25px;
    width: 25px;
    border: 2px solid white;
  }

  .weather-widget {
    margin-top: 10%;
  }
  .holder::-webkit-scrollbar {
    width: 5px;
  }

  .hometitle {
    font-size: 2.5rem;
  }
  .cont1 {
    width: 25%;
  }
  .cont2 {
    width: 75%;
  }
  .newscontent,
  .funfactcontent {
    font-size: 1rem;
  }

  .cont3 {
    width: 0%;
  }
  .prof {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .home-option {
    font-size: 0.5rem;
  }
  .prof .homeimg2 {
    height: 20px;
    width: 20px;
  }
}
