.post-header {
    height: 4rem;
    display: flex;
    background: white;
    width: 100vw;
    align-items: center;
    top: 0;
    position: fixed;
    left: 0;
    justify-content: space-between;
    display: flex;
    padding: 0 10px;
}