.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgb(0, 9, 50) 40%, rgba(0, 9, 114, 0.9) 80%, rgba(0, 0, 0, 0.9) 100%);    text-align: center;
    z-index: 0;
}
.settings-forms{
    bottom: 0;
    right: 0;
    left: auto;
    position: absolute;
    background: transparent;
    border: none;
    height: 92vh;
    width: 90vw;
    z-index: 1;
    box-shadow: none;
}
input {
    display: flex;
    margin: 10px;
}
.settings-submit{
    cursor:pointer;
}

header {
    height: 8vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background: radial-gradient(circle, rgb(0, 9, 50) 30%, rgba(0, 9, 114, 0.8) 60%, rgba(0, 0, 0, 0.7) 100%);    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

header .settings-user-info {
    display: flex;
    align-items: center;
    margin-right: 4vh;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

header .settings-user-info:hover, .branding-left:hover {
    opacity: 0.8;
    animation: pulse 1s ease infinite;
    cursor: pointer;
}

header .settings-user-name{
    z-index: 1;
    padding-left: 5px;
    color: white;
    font-size: 1.5vh;
}
header .homeimg{
    z-index: 1;
    height: 3vh;
    width: 3vh;
    border: white;
    border-style: inset;
}
header .branding-left{
    display: flex;
    align-items: center;
    margin-left: 4vh;
    position: absolute;
    left: 0;
    justify-content: flex-start;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
header .genchat{
    z-index: 1;
    color: white;
    font-size: 2vh;
}
header .logo{
    z-index: 1;
    height: 3vh;
    width: 3vh;
}

.navSettings{
    position: fixed;
    height: 92vh;
    width: 4vw;
    z-index: 2;
    bottom: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
    padding-top: 2vh;
}
.navSettings:hover{
    width: 10vw;
}
.navSettings .settings-home-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 0px;
    color: white;
    height: 2vw;
    width: 2vw;
}
.navSettings .settings-post-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 0px;
    color: white;
    height: 2vw;
    width: 2vw;
}

.navSettings .settings-chat-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 0px;
    color: white;
    height: 2vw;
    width: 2vw;
}
.navSettings .settings-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 0px;
    color: white;
    height: 2vw;
    width: 2vw;
}
.navSettings .settings-logout-icon{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 0px;
    color: white;
    height: 2vw;
    width: 2vw;
}
.settings-nav-text {
    display: none;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-top: -1vw;
}

.settings-home-icon-cont:hover .settings-nav-text,
.settings-post-icon-cont:hover .settings-nav-text,
.settings-chat-icon-cont:hover .settings-nav-text,
.settings-logout-icon-cont:hover .settings-nav-text {
    display: block;
}

.navSettings .settings-chat-icon-cont:hover, .settings-post-icon-cont:hover, 
.settings-home-icon-cont:hover, .settings-logout-icon-cont:hover {
    border: solid 0.5px;
    cursor: pointer;
}
