.chatroom-main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.chat-cont-1 {
  height: 100%;
  width: 100%;
}
main {
  height: 90%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0.01) 100%
  );
}
main::-webkit-scrollbar {
  width: 5px;
}
main::-webkit-scrollbar-track {
  background: rgba(71, 71, 71, 0.05);
  border-radius: 50px;
}
main::-webkit-scrollbar-thumb {
  background: #b6b09f;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}
main::-webkit-scrollbar-thumb:hover {
  background: #a09a8a;
}

.chat-form {
  border-top: 1px solid wheat;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inputimage {
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  background: #ffffff18;
  color: #63686e;
  border-radius: 8px;
  border: none;
}
.inputmessage {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  background: #ffffff18;
  color: #fff;
  border-radius: 8px;
  border: none;
}
.inputmessage::placeholder {
  color: #63686e;
}
.submitchat {
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid white;
}
.submitchat:hover {
  background: #0a0a0a;
  color: #b6b09f;
}
@media (max-width: 480px) and (max-width: 760px) {
  .inputimage {
    width: 30%;
    padding: 10px 10px;
    font-size: 0.5rem;
    text-align: center;
  }
  .inputmessage {
    width: 30%;
    padding: 10px 10px;
    font-size: 0.7rem;
    text-align: center;
  }
  .submitchat {
    font-size: 0.8rem;
    padding: 10px 10px;
    border-bottom: 1px solid white;
  }
}
