body {
    background-color: #121212;
    color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}
.chatroom-header {
    background-color: #20232a;
    height: 60px;
    color: #ffffff;
    position: sticky;   
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
main {
    width: 100vw;
    padding: 20px;
    height: calc(100vh - 120px);  /* 120px is header height */
    margin: 60px 0 60px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main::-webkit-scrollbar {
    width: 0.4rem;
}
main::-webkit-scrollbar-track {
    background: #2c2f38;
}
main::-webkit-scrollbar-thumb {
    background: #8a4baf;
    border-radius: 20px;
}

form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #20232a;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
form input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    background: #2d3138;
    color: #fff;
    border-radius: 8px;
    border: none;
}
form input::placeholder {
    color: #9aa1aa;
}
form button {
    background-color: #4a90e2;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
}

form button:hover {
    background-color: #357ab8;
}

@media (max-width: 768px) {
    form button {
        font-size: 1rem;
    }

    form input {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    form button {
        font-size: 0.9rem;
    }

    form input {
        font-size: 0.9rem;
    }
}
